body {font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
     color: '#777';
     background-color: #ebebeb;
     width: '960px';
     font-size: '18px';
    }

@font-face {
      font-family: quicksand;
      src:quicksand;
    }
  
* {
  font-family: myFirstFont;}
    

header{background: white;
     width: 100%;
     left:0;
     
     color: #777;
     display: block;
     font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
     padding: 22px;
     text-align: center;
     border:1px solid gray;}

#code1 {background-color: #4aaaa5;
       border:1px solid black; 
       display: inline;
       border-radius: 5px;
       padding:20px;
     position: relative;
     right:180px;
color: white;
font-size:30px;
font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
text-shadow: 2px 2px 5px black;


}
#code2 {margin-right:  10px;
     position: relative;
     left:200px;
    font-size:20px;
    border-right: 1px dotted black;
   padding-right: 15px;
  }       

#code3 {margin-right: 20px;
      position: relative;
      left:200px;
     font-size:20px;
     } 

     

.container {width:960px;
     margin:0 auto;
     background-color: white;
     height:700px;
     }

.container2{ padding:20px;}

Article
     {color: '#ebebeb';
     background: '#777'}



h1{
     color: '#777';
     background: '#ebebeb';
     }

h2 { color:#4aaaa5;
     position: relative;
     top:16px;
     left:40px;
     padding-bottom: 10px;
     font-size:30px;}

p{   color: '#777';
     background: '#ebebeb';
     line-height: 1.8;
     padding: 5px;
     font-size: 18px;

     }   

      

footer { position: fixed;
     bottom: 0;
     left: 0;
     width: 100%;
     background: white;
     color: #777;
     display: block;
     font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
     text-align: center;
     border-top: 8px solid #4aaaa5;
      }
      

   
   /* When moving the mouse over the submit button, add a darker green color */
   input[type=submit]:hover {
     background-color: #45a049;
   }
   
   /* Add a background color and some padding around the form */
   
  
   div.gallery {
     margin: 40px;
     border: 1px solid #ccc;
     float: left;
     width:;
     height:;
     margin-left: 100px;
     position: relative;
     }
   
   div.gallery:hover {
     border: 1px solid #777;
   }
   
   
   
   div.desc1 {
     padding: 10px;
     text-align: center;
     position: absolute;
     background-color: #4aaaa5;
     top:150px;
     left:0;
     width: 130px;
     color:white;

   }
   div.desc2 {
    padding: 10px;
    text-align: center;
    position: absolute;
    background-color: #4aaaa5;
    top:100px;
    left:0;
    color:white;
    width: 200px;

  }

   div.desc1:hover, div.desc2:hover {
    color: yellow;
  }
  
  code2:hover {font-size:25px;}
  code3:hover {font-size:25px;}



  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 920px; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
